/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
  background-color: black;
}

.container {
  margin-top: 2rem;
}

span {
  color: white;
  font-weight: bold;
  font-size: 5rem;
  border-style: solid;
  border-color: darkgray;
}

#counter-row {
  margin: 2rem 0 2rem 0;
}

.alert-label {
  font-size: 2rem;
  color: lightpink;
  border: none;
}

input {
  background-color: lightpink;
  font-size: 2rem;
  font-weight: bolder;
  width: 10rem;
}
